# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
carwow/

# Ignore data files
data/html_snapshots/*
data/raw_csv/*
data/processed_csv/*
data/json_parm/*
!**/.gitkeep

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore miscellaneous files
misc/
*.log

# Ignore IDE files
*.code-workspace


